*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, #3BC1EA 0%, #53FBAF 100%);
}

h2{
    color: azure;
}

h2:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

.salida{
    text-transform: uppercase;
    width: 30%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid #000000;
    border-radius: 10px;
    text-shadow: 5px 5px 10px #000000, 5px 5px 10px #000;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}